@charset "UTF-8";
body {
    font-family: Arial;
    background: #f4f6f8;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}

.login-box h2 {
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}
